
* {
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    list-style: none;
    outline: none;
    box-sizing: border-box; }
  
  html {
    min-height: 100%;
    margin:0;
    padding:0;
    /* background: url(../img/bg3.jpg) no-repeat center fixed;  */
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */}
  
    body {
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      padding: 5vw;
      /* align-items: center; */
      /* justify-content: center; */
      /* top: 0; */
      /* right: 0; */
      /* bottom: 0; */
      /* left: 0; */
      /* background-image: radial-gradient(#72216B, #001C2E, #FC4C7C); */
      /* background-image: radial-gradient(#AE1AA1, #002842, #001F56); */
      background-image: radial-gradient(#AE1AA1, #002842, #001F56);
      background-size: 250% 200%;
      /* background-position: 0 0; */
      animation: border 130s linear infinite;
  }
  header {
    display: flex;
    flex-direction: column;
    width: 100%;
}
    body:after {
      content: "";
      background: rgba(48, 50, 57, 0.3);
      position: fixed;
      top: 0.5vw;
      right: 0.5vw;
      bottom: 0.5vw;
      left: 0.5vw;
      z-index: -1;
    }
h1 {
  /* font-size: 4vw; */
  /* line-height: 5vw; */
  color: #FC4C7C;
  /* font-weight: 700; */
  /* font-style: italic; */
  font-family: "Open Sans", sans-serif;
  /* padding-left: 1.35vw; */
  letter-spacing: 0.25vw;
  animation: fade 2s ease-out -.65s;
  transform: rotate(-1deg);
  align-self: center;
  height: 35%;
}

h2 {
  font-size: 12vw;
  line-height: 12vw;
  font-weight: 800;
  font-style: italic;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  transform: rotate(-1deg);
  height: 35%;
}
h2 a {
    height: 12vw;
    display: block;
    position: relative;
}
h2 a span {
  overflow: hidden;
  transition: transform 0.25s cubic-bezier(0.5, 0, 0.25, 1.25);
  display: block; }
  h2 a span em {
    display: block; }
  h2 a span:nth-child(1) {
    color: #FBC032;
    height: 3.5vw;
    animation: intro 1.5s cubic-bezier(0.5, 0, 0.25, 1.3) -1s 1; }
  h2 a span:nth-child(2) {
    color: #FC9256;
    top: 4.5vw;
    height: 3.75vw;
    position: absolute;
    left: 0;
    right: 0;
    animation: intro 1.5s cubic-bezier(0.5, 0, 0.25, 1.2) -0.9s 1; }
    h2 a span:nth-child(2) em {
      margin-top: -4.5vw; }
  h2 a span:nth-child(3) {
    color: #FC4C7C;
    top: 9.25vw;
    height: 2.75vw;
    position: absolute;
    left: 0;
    right: 0;
    animation: intro 1.5s cubic-bezier(0.5, 0, 0.25, 1.1) -0.8s 1; }
    h2 a span:nth-child(3) em {
      margin-top: -9.25vw; }
h2 a:hover span {
  transition: transform 0.125s cubic-bezier(0.5, 0, 0.25, 2.5); }
  h2 a:hover span:nth-child(1) {
    transform: translateX(1vw); }
  h2 a:hover span:nth-child(3) {
    transform: translateX(-1vw); }